@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

header {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 0.4rem;
  border-color: #3c5aa6;
}

.logo {
  margin-left: 1rem;
  height: 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: block;
  margin-right: 1rem;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-family: "Bangers", cursive;
  color: #ffcb05;
  padding: 0.5rem;
  font-size: 1.2rem;
}

@media (min-width: 730px) {
  .logo {
    margin-left: 2rem;
    height: 10rem;
  }
  nav a {
    font-size: 3rem;
    margin-right: 2rem;
  }
}
